extends layout
- admin = ('admin'==brigade.location.timezone) ? 'selected' : null;
block content
  .row.breadcrumbs
    .col-sm-12
      a(href='/')= brigade.name
      | &nbsp;&nbsp;/&nbsp;
      a(href='/brigade') Brigade
  .page-header.row
    h3 Brigade Information
  hr
  form.row.form-horizontal(action='/brigade', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='name') Brigade Name
      .col-sm-7
        input.form-control(type='name', name='name', id='name', value='#{brigade.name}')
    .form-group
      label.col-sm-3.control-label(for='description') Description
      .col-sm-7
        textarea.form-control(name='description', id='description', rows="6")
          | #{brigade.copy.description}
    .form-group
      label.col-sm-3.control-label(for='tagline') Tagline
      .col-sm-7
        textarea.form-control(name='tagline', id='tagline', rows="6")
          | #{ brigade.copy.tagline }
    .form-group
      label.col-sm-3.control-label(for='location') Location
      .col-sm-7
        input.form-control(type='text', name='location', id='location', value='#{brigade.location.general}')
    .form-group
      label.col-sm-3.control-label(for='timezone') Time Zone
      .col-sm-7
        select(id="timezone", name="timezone")
          for zone in ['America/Los_Angeles', 'America/Boise', 'America/Chicago', 'America/New_York']
            option(value="#{zone}", selected=(zone == brigade.location.timezone)) #{zone}
        | <br/><br/>
    .form-group
      label.col-sm-3.control-label(for='url') Site Url
      .col-sm-7
        input.form-control(type='text', name='url', id='url', value='#{brigade.url}')
    .form-group
      label.col-sm-3.control-label(for='heroImage') Image Url
      .col-sm-7
        input.form-control(type='text', name='heroImage', id='heroImage', value='#{brigade.heroImage}')
    .form-group
      label.col-sm-3.control-label(for='github') Github Group
      .col-sm-7
        input.form-control(type='text', name='github', id='github', value='#{brigade.github}')
    .form-group
      label.col-sm-3.control-label(for='slack') Slack Channel
      .col-sm-7
        input.form-control(type='text', name='slack', id='slack', value='#{brigade.slack}')
    .form-group
      label.col-sm-3.control-label(for='slack') Slack Member Count
      .col-sm-7
        input.form-control(type='text', name='slackcount', id='slackcount', value='#{brigade.slackcount}')
    .form-group
      label.col-sm-3.control-label(for='slack') Github/Jekyll Blog
      .col-sm-7
        input.form-control(type='text', name='blog-jekyll', id='blog-jekyll', value='#{brigade.blog.jekyll}', placeholder='account/repo')
    .form-group
      label.col-sm-3.control-label(for='meetupurl') Meetup Group URL:
      .col-sm-5
        |http://www.meetup.com/
        input.form-control(type='text', name='meetupurl', id='meetupurl', value='#{brigade.meetup}')
    .form-group
      label.col-sm-3.control-label(for='checkinday') Weekly Check-in Day:
      .col-sm-5
        select(id="checkinday", name="checkinday")
          for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
            option(value="#{day}", selected=(day == brigade.checkIn.day)) #{day}
    .form-group
      label.col-sm-3.control-label(for='brigadecount') Number of brigades in area:
      .col-sm-5
        input.form-control(type='text', name='brigadecount', id='brigadecount', value='#{brigade.brigadecount}')
    .form-group
      label.col-sm-3.control-label(for='checkinurl') Check-in URL:
      .col-sm-5
        input.form-control(type='text', name='checkinurl', id='checkinurl', value='#{brigade.checkIn.urlLink}')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencil
          | Update Brigade

  .page-header.row
    h3 Sync Content
  hr
  .row
    form.col-sm-3(method='POST', action='/projects/sync')
      input(type='hidden', name='_csrf', value=_csrf)
      button.btn.btn-primary(type='submit')
        i.fa.fa-code-fork
        | Sync Projects with Github
    form.col-sm-3(method='POST', action='/users/sync')
      input(type='hidden', name='_csrf', value=_csrf)
      button.btn.btn-primary(type='submit')
        i.fa.fa-github-alt
        | Sync Users with Github
    form.col-sm-3(method='POST', action='/events/sync')
      input(type='hidden', name='_csrf', value=_csrf)
      button.btn.btn-primary(type='submit')
        i.fa.fa-calendar-plus-o
        | Sync Events with Meetup
    form.col-sm-3(method='POST', action='/blog/sync/jekyll')
      input(type='hidden', name='_csrf', value=_csrf)
      button.btn.btn-primary(type='submit')
        i.fa.fa-rss-square
        | Sync Blog with Jekyll Site
  .page-header.row
    h3 Theme Settings
  hr
  form.row.form-horizontal(action='/brigade', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-sm-3.control-label(for='theme-slug') Theme
      .col-sm-7
        input.form-control(type='text', name='theme-slug', id='theme-slug', value='#{brigade.theme.slug}')
    .form-group.row
      label.col-sm-3.control-label(for='logo') Logo
      .col-sm-7
        input.form-control(type='text', name='logo', id='logo', value='#{brigade.theme.logo}')
      .col-sm-offset-3.col-sm-4
        img(src="#{brigade.theme.logo}", class='logo')
    .form-group.row
      label.col-sm-3.control-label Enabled Sections
      .col-sm-7
        .row
          .col-sm-4.checkbox
            label
              input.title(id="show-title", name="show-title", type="checkbox", checked=(brigade.theme.page.title ? "checked" : undefined))
              | Show Brigade Name
          .col-sm-4.checkbox
            label
              input.events(id="show-events", name="show-events", type="checkbox", checked=(brigade.theme.page.events ? "checked" : undefined))
              | Show Events Pages
          .col-sm-4.checkbox
            label
              input.projects(id="show-projects", name="show-projects", type="checkbox", checked=(brigade.theme.page.projects ? "checked" : undefined))
              | Show Projects Pages
        .row
          .col-sm-4.checkbox
            label
              input.blog(id="show-blog", name="show-blog", type="checkbox", checked=(brigade.theme.page.blog ? "checked" : undefined))
              | Show Blog Pages
          .col-sm-4.checkbox
            label
              input.about(id="show-about", name="show-about", type="checkbox", checked=(brigade.theme.page.about ? "checked" : undefined))
              | Show About Page
          .col-sm-4.checkbox
            label
              input.login(id="show-login", name="show-login", type="checkbox", checked=(brigade.theme.page.login ? "checked" : undefined))
              | Show Login Page
      .form-group
        .col-sm-offset-3.col-sm-4
          button.btn.btn.btn-primary(type='submit')
            i.fa.fa-pencil
            | Update Theme
    .row.row-title
      h3 External Nav Links
    .row.row-body
      table.table
        thead
          tr
            th Name
            th Destination
            th Target
            th Actions
        tbody
          each external, index in brigade.theme.page.external
            tr
              td
                span.static=external.name
                input.update.hidden.form-control(type='text', name='externals[#{index}][name]', id='external-link-name', value='#{external.name}')
              td
                span.static=external.link
                input.update.hidden.form-control(type='text', name='externals[#{index}][link]', id='external-link-link', value='#{external.link}')
              td
                span.static=external.target
                select.update.hidden.form-control(name='externals[#{index}][target]', id='external-link-target')
                  option(value='self', selected=(external.target==='self')) self
                  option(value='_blank', selected=(external.target==='_blank')) _blank
              td
                button.edit-settings-row.btn.btn-primary(type='button')
                  i.static.fa.fa-pencil
                  i.update.hidden.fa.fa-close
                label.delete-checkbox(for='externals-#{index}-delete')
                  input.hidden(type='checkbox', name='externals[#{index}][delete]', id='externals-#{index}-delete')
                  span.btn.btn-danger(type='button')
                    i.fa.fa-trash
         tr
            td
              input.form-control(name='new-external[name]', id='new-external-name', value='', placeholder='Name (shows in Nav Bar)')
            td
              input.form-control(name='new-external[link]', id='new-external-link', value='', placeholder='Destination Link')
            td
              select.form-control(name='new-external[target]', id='new-external-target')
                option(value='self', selected) self
                option(value='_blank') _blank
            td
              button.btn.btn-primary(type='submit') Save Changes
      h3 Brigade Sponsors
      .row.row-body
        table.table
          thead
            tr
              th Name
              th Destination
              th Banner image
              th Actions
              th Main Sponsor
          tbody
            each sponsor, index in brigade.sponsors
              tr
                td
                  span.static=sponsor.name
                  input.update.hidden.form-control(type='text', name='sponsors[#{index}][name]', id='sponsor-link-name', value='#{sponsor.name}')
                td
                  span.static=sponsor.link
                  input.update.hidden.form-control(type='text', name='sponsors[#{index}][link]', id='sponsor-link-link', value='#{sponsor.link}')
                td
                  span.static=sponsor.image
                  input.update.hidden.form-control(type='text', name='sponsors[#{index}][image]', id='sponsor-link-image', value='#{sponsor.image}')
                td
                  button.edit-settings-row.btn.btn-primary(type='button')
                    i.static.fa.fa-pencil
                    i.update.hidden.fa.fa-close
                  label.delete-checkbox(for='sponsors-#{index}-delete')
                    input.hidden(type='checkbox', name='sponsors[#{index}][delete]', id='sponsors-#{index}-delete')
                    span.btn.btn-danger(type='button')
                      i.fa.fa-trash
                td
                  input(type="radio", name="mainsponsor", value="#{index}", checked=sponsor.main==true)
           tr
              td
                input.form-control(name='new-sponsor[name]', id='new-sponsor-name', value='', placeholder='Name')
              td
                input.form-control(name='new-sponsor[link]', id='new-sponsor-link', value='', placeholder='Destination Link')
              td
                input.form-control(name='new-sponsor[image]', id='new-sponsor-image', value='', placeholder='Sponsor image')
              td
                button.btn.btn-primary(type='submit') Save Changes
      h3 Brigade Landing-Stats
      .row.row-body
        table.table
          thead
            tr
              th Image Link
              th Link To
              th Caption
              th Stat
          tbody
            each landingstat, index in brigade.landingstats
              tr
                td
                  span.static=landingstat.imglink
                  input.update.hidden.form-control(type='text', name='landingstats[#{index}][imglink]', id='landingstat-link-imglink', value='#{landingstat.imglink}')
                td
                  span.static=landingstat.link
                  input.update.hidden.form-control(type='text', name='landingstats[#{index}][link]', id='landingstat-link-link', value='#{landingstat.link}')
                td
                  span.static=landingstat.caption
                  input.update.hidden.form-control(type='text', name='landingstats[#{index}][caption]', id='landingstat-link-caption', value='#{landingstat.caption}')
                td
                  span.static=landingstat.stat
                  input.update.hidden.form-control(type='text', name='landingstats[#{index}][stat]', id='landingstat-link-stat', value='#{landingstat.stat}')    
                td
                  button.edit-settings-row.btn.btn-primary(type='button')
                    i.static.fa.fa-pencil
                    i.update.hidden.fa.fa-close
                  label.delete-checkbox(for='landingstats-#{index}-delete')
                    input.hidden(type='checkbox', name='landingstats[#{index}][delete]', id='landingstats-#{index}-delete')
                    span.btn.btn-danger(type='button')
                      i.fa.fa-trash
           tr
              td
                input.form-control(name='new-landingstat[imglink]', id='new-landingstat-imglink', value='', placeholder='Image Link')
              td
                input.form-control(name='new-landingstat[link]', id='new-landingstat-link', value='', placeholder='Destination Link')
              td
                input.form-control(name='new-landingstat[caption]', id='new-landingstat-caption', value='', placeholder='Caption')
              td
                input.form-control(name='new-landingstat[stat]', id='new-landingstat-stat', value='', placeholder='Stat')    
              td
                button.btn.btn-primary(type='submit') Save Changes
    .row.row-title
      h3 Dynamic Redirects
    .row.row-body
      table.table
        thead
          tr
            th Endpoint
            th Destination
            th Method
            th Type
            th Actions
        tbody
          each redirect, index in brigade.redirects
            tr
              td
                span.static=redirect.endpoint
                input.update.hidden.form-control(name='redirects[#{index}][endpoint]', id='redirects-endpoint', value='#{redirect.endpoint}', placeholder='/endpoint')
              td
                span.static=redirect.destination
                input.update.hidden.form-control(name='redirects[#{index}][destination]', id='redirects-destination', value='#{redirect.destination}', placeholder='https://destination.example.com')
              td
                span.static=redirect.method
                select.update.hidden.form-control(name='redirects[#{index}][method]', id='redirects-method')
                  option(value='GET', selected=(redirect.method==='GET')) GET
                  option(value='POST', selected=(redirect.method==='POST')) POST
                  option(value='PUT', selected=(redirect.method==='PUT')) PUT
                  option(value='PATCH', selected=(redirect.method==='PATCH')) PATCH
                  option(value='HEAD', selected=(redirect.method==='HEAD')) HEAD
                  option(value='OPTIONS', selected=(redirect.method==='OPTIONS')) OPTIONS
                  option(value='DELETE', selected=(redirect.method==='DELETE')) DELETE
              td
                span.static=redirect.type
                select.update.hidden.form-control(name='redirects[#{index}][type]', id='redirects-type')
                  option(value='temporary', selected=(redirect.type==='temporary')) Temporary
                  option(value='permanent', selected=(redirect.type==='permanent')) Permanent
              td
                button.edit-settings-row.btn.btn-primary(type='button')
                  i.static.fa.fa-pencil
                  i.update.hidden.fa.fa-close
                label.delete-checkbox(for='redirects-#{index}-delete')
                  input.hidden(type='checkbox', name='redirects[#{index}][delete]', id="redirects-#{index}-delete")
                  span.btn.btn-danger(type='button')
                    i.fa.fa-trash
         tr
            td
              input.form-control(name='new-redirect[endpoint]', id='new-redirect-endpoint', value='', placeholder='/endpoint')
            td
              input.form-control(name='new-redirect[destination]', id='new-redirect-destination', value='', placeholder='https://destination.example.com')
            td
              select.form-control(name='new-redirect[method]', id='new-redirect-method')
                option(value='GET', selected) GET
                option(value='POST') POST
                option(value='PUT') PUT
                option(value='PATCH') PATCH
                option(value='HEAD') HEAD
                option(value='OPTIONS') OPTIONS
                option(value='DELETE') DELETE
            td
              select.form-control(name='new-redirect[type]', id='new-redirect-type')
                option(value='temporary', selected) Temporary
                option(value='permanent') Permanent
            td
              button.btn.btn-primary(type='submit') Save Changes
  .row
    hr
  form.row.form-horizontal(action='/brigade', method='POST')
    h3 Social Media Sign-in and Links
    hr
    input(type='hidden', name='_csrf', value=_csrf)
    .row
      h4 Github Oauth keys
      .form-group
        label.col-sm-3.control-label(for='github-client-id') Client ID
        .col-sm-7
          input.form-control(type='github-client-id', name='github-client-id', id='github-client-id', value='#{brigade.auth.github.clientId}')
      .form-group
        label.col-sm-3.control-label(for='github-client-secret') Client Secret
        .col-sm-7
          input.form-control(type='github-client-secret', name='github-client-secret', secret='github-client-secret', value='#{brigade.auth.github.clientSecret}')
    .row
      h4 Meetup Oauth keys
      .form-group
        label.col-sm-3.control-label(for='meetup-client-id') Client ID
        .col-sm-7
          input.form-control(type='meetup-client-id', name='meetup-client-id', id='meetup-client-id', value='#{brigade.auth.meetup.consumerKey}')
      .form-group
        label.col-sm-3.control-label(for='meetup-client-secret') Client Secret
        .col-sm-7
          input.form-control(type='meetup-client-secret', name='meetup-client-secret', secret='meetup-client-secret', value='#{brigade.auth.meetup.consumerSecret}')
    .row
      h4 Contact form email credentials
      .form-group
        label.col-sm-3.control-label(for='emailuser') Brigade email
        .col-sm-7
          input.form-control(type='text', name='emailuser', id='emailuser', value='#{brigade.auth.email.user}')
      .form-group
        label.col-sm-3.control-label(for='emailpass') Brigade email password
        .col-sm-7
          input.form-control(type='password', name='emailpass', id='emailpass', value='#{brigade.auth.email.password}')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencil
          | Update Social Media
