extends layout

block content
  #landing-hero(style="background-image:url(" + brigade.heroImage + ");background-position:bottom center;")
    //Front end work needed for lines 6-7
    #landing-message.col-sm-7
      p
        strong= brigade.name
        | &nbsp;#{brigade.copy.tagline}
    .landing-events.col-sm-5
      div.content
        h5 Upcoming events
          ul.list-group-item
            if (checkin)
              a.btn.btn-secondary.checkin(href='#{brigade.checkIn.urlLink}')
                | Hack Night Check In
              each event in events.slice(1, 3)
                li.list-group-item
                  i.fa.fa-calendar.fa-2x
                  a(href='#{event.url}')
                    span.event-date  #{event.startDate}
                    span.event-title #{event.title}
            else
              each event in events
                li.list-group-item
                  i.fa.fa-calendar.fa-2x
                  a(href='#{event.url}')
                    span.event-date  #{event.startDate}
                    span.event-title #{event.title}
  .landing-events-mobile
    div.content
      h5 Upcoming events
          ul.list-group-item
            if (checkin)
              a.btn.btn-secondary.checkin(href='#{brigade.checkIn.urlLink}')
                | Hack Night Check In
              each event in events.slice(1, 3)
                li.list-group-item
                  i.fa.fa-calendar.fa-2x
                  a(href='#{event.url}')
                    span.event-date  #{event.startDate}
                    span.event-title #{event.title}
            else
              each event in events
                li.list-group-item
                  i.fa.fa-calendar.fa-2x
                  a(href='#{event.url}')
                    span.event-date  #{event.startDate}
                    span.event-title #{event.title}
  hr
  #landing-stats.center-block.row.hidden-md-down
    .col-sm-3
      #landing-stat-1.landing-stat
        .row.text-xs-center.center-block
          .col-sm-5
            img.img-fluid(src="http://kodujdlapolski.pl/wp-content/themes/kdp/images/stats-forum.png")
          .col-sm-7
            p
              strong 400
            p.txt
              | Slackers registered
    .col-sm-3
      #landing-stat-2.landing-stat
        .row.text-xs-center.center-block
          .col-sm-5
            img.img-fluid(src="http://kodujdlapolski.pl/wp-content/themes/kdp/images/stats-ideas.png")
          .col-sm-7
            p
              strong 82
            p.txt
              | Ideas being discussed
    .col-sm-3
      #landing-stat-3.landing-stat
        .row.text-xs-center.center-block
          .col-sm-5
            img.img-fluid(src="http://kodujdlapolski.pl/wp-content/themes/kdp/images/stats-citylab.png")
          .col-sm-7
            p
              strong 4
            p.txt
              | Bay Area Brigades
    .col-sm-3
      #landing-stat-4.landing-stat
        .row.text-xs-center.center-block
          .col-sm-5
            img.img-fluid(src="http://kodujdlapolski.pl/wp-content/themes/kdp/images/stats-projects.png")
          .col-sm-7
            p
              strong 19
            p.txt
              | Active Projects
  hr.hidden-md-down
  #landing-ctas.row.center-block
    .col-md-4
      #landing-cta-1.card.landing-cta
        span.card-img-top(style="background-image:url('https://i.imgur.com/eat2FgN.png');")
        .card-block
          h4.card-title Discuss
          p.card-text Share your idea on the forum telling a story about needs and problems that should be resolved. Join ongoing discussions to help find solutions.
          a.btn.btn-red(href="#{brigade.slack}") Join Slack
    .col-md-4
      #landing-cta-2.card.landing-cta
        span.card-img-top(style="background-image:url('https://i.imgur.com/pSBPT2n.png');")
        .card-block
          h4.card-title Meet Locally
          p.card-text Meet regularly with a group of activists. Discuss needs and ideas together with civil servants and civil society organizations. Boost project development by meeting face to face.
          a.btn.btn-red(href="http://www.meetup.com/#{brigade.meetup}") Join us on Meetup
    .col-md-4
      #landing-cta-3.card.landing-cta
        span.card-img-top(style="background-image:url('https://i.imgur.com/7JCmL7b.png');")
        .card-block
          h4.card-title Build Projects
          p.card-text Start a new project as its coordinator or join one of the existing multidisciplinary teams. Follow project development path from the needs analysis to the country wide deployment.
          a.btn.btn-red(href="http://www.github.com/#{brigade.github}") Join Github
  hr
  #landing-projects.row.center-block
    h2.text-xs-center Projects

    each project in projects
      // for perfect alignment, need a row on every odd instance of project. (row, col col, row, col col, etc. ) this code will look ok unitl you get a lot of description text on a project. - AB

      .col-md-4.col-lg-2
        #landing-project-1.landing-project
          img.img-thumbnail(src="#{ project.thumbnailUrl }")
          a(href='/projects/#{project.id}')=project.name


    .col-sm-12.text-xs-center
      a.btn.btn-red(href="projects") All Projects
  hr
  #landing-blog.row.center-block
    h2.text-xs-center  Blog
    for post in posts
      .col-sm-4
        #post-1.card.post
          span.thumbnail(style='background-image:url(#{post.image});').img-fluid.card-img-top
          .card-block
            h4.card-title
              a(href="/blog/post/#{post.slug}") #{post.title}
            p.card-text #{post.description}
            p.card-text #{post.date}
    .col-sm-12.text-xs-center
      a.btn.btn-red(href="/blog") All Posts
