extends ../layout

mixin sidebarItem(name,subItems,selectedItem,showingInactive)
  li
    strong=plural(capitalize(name))
    br
    ul(data-sidebar=name)
      if selectedItem
        li
          a(href='?'+(showingInactive?'&showall=true':''))
            i.fa.fa-close
            | Clear Selection
        br
      br
      each item in subItems
        li(class=selectedItem===item?'selected':'')
          a(href="?#{name}=#{item}"+(showingInactive?'&showall=true':''))= item
      br
      br

block content
  .row.breadcrumbs
    .col-sm-12
      a(href='/')= brigade.name
      | &nbsp;&nbsp;/&nbsp;
      a(href='/projects') Projects
  .row.page-header
    .col-sm-12
      h1.page-title Projects
        a.btn.btn-secondary.pull-right(href='/projects/new') Create New Project
  .row
    hr
  .container
    .row
      .col-sm-3.sidebar
        span
          | Showing&nbsp;
          strong=projects.length
          | &nbsp;#{showingInactive?'':'active'} projects
          br
          | out of&nbsp;
          strong=totalProjects
          | &nbsp;total
        br
        br
        a(href="/projects/?showall=true"+(selectedKeyword?'&keyword=#{selectedKeyword}':'')+(selectedNeed?'&need=#{selectedNeed}':''), class=(showingInactive?'hidden':''))
          button.btn.btn-secondary Show inactive projects
        a(href="/projects/?"+(selectedKeyword?'&keyword=#{selectedKeyword}':'')+(selectedNeed?'&need=#{selectedNeed}':''), class=(showingInactive?'':'hidden'))
          button.btn.btn-secondary Hide inactive projects
        br
        br
        hr
        br
        span Filter your search:
        br
        br
        ul(data-sidebar='true')
          mixin sidebarItem('keyword',keywords,selectedKeyword,showingInactive)
          mixin sidebarItem('need',needs,selectedNeed,showingInactive)
      .col-sm-9
        .row
        each project in projects
          if project.published
            .col-sm-6
              .card.project-list-card
                  a(href='/projects/#{project.id}')
                    span.thumbnail(style='background-image:url(#{project.thumbnailUrl});').img-fluid.card-img-top
                  .card-block
                    h3.card-title
                      a(href='/projects/#{project.id}')
                        =project.name
                        br
                        span.badge.activity(class=(project.active?'active':'inactive'))=(project.active?'Active':'Inactive')
                    p.card-text= project.description
                    p.card-keywords
                      span Keywords
                      each keyword in project.keywords
                        a.badge(href="?keyword=#{keyword}")= keyword
                    p.card-needs
                      span Needs
                      each need in project.needs
                        a.badge(href="?need=#{need}")= need
