extends ../layout

mixin sidebarItem(name,subItems)
  li=name
          ul
            each val in subItems
              li
                a=val


block content
  .row.breadcrumbs
    .col-sm-12
      a(href='/')= brigade.name
      | &nbsp;&nbsp;/&nbsp; 
      a(href='/projects') Projects
  .row.page-header
    .col-sm-12
      h1.page-title Projects
  if user && user.isProjectLead()
    a.btn.btn-secondary(href='/projects/new') New Project
  .row.tags
    ul
      if selectedKeyword
        li
          a(href='?') Clear Search Tag
      each keyword in keywords
        li(class=selectedKeyword===keyword?'selected':'')
          a(href="?keyword=#{keyword}")= keyword
  .row
  .container
    .row
      .col-sm-12
        h2 All Projects
        hr
    .row
      //sidebar list
      .col-sm-3.sidebar
        //parent list
        ul
          mixin sidebarItem('Keywords',keywords)
      //Add projects
      .col-sm-9
        .row
        each project in projects
          // for perfect alignment, need a row on every odd instance of project. (row, col col, row, col col, etc. ) this code will look ok unitl you get a lot of description text on a project. - AB
          .col-sm-6
            .card.project-list-card
                a(href='/projects/#{project.id}')
                  span.thumbnail(style='background-image:url(#{project.thumbnailUrl});').img-fluid.card-img-top
                .card-block
                  h3.card-title
                    a(href='/projects/#{project.id}')
                      =project.name
                  p.card-text= project.description
