extends ../layout

mixin sidebarItem(name,subItems,selectedItem)
  li= plural(capitalize(name))
    ul(data-sidebar=name)
      if selectedItem
        li
          a(href='?') 
            i.fa.fa-close
            | Clear Selection
      each item in subItems
        li(class=selectedItem===item?'selected':'')
          a(href="?#{name}=#{item}")= item

block content
  .row.breadcrumbs
    .col-sm-12
      a(href='/')= brigade.name
      | &nbsp;&nbsp;/&nbsp; 
      a(href='/projects') Projects
  .row.page-header
    .col-sm-12
      h1.page-title Projects
  if user && user.isProjectLead()
    a.btn.btn-secondary(href='/projects/new') New Project
  .row
    hr
  .container
    .row
      .col-sm-3.sidebar
        ul
          mixin sidebarItem('keyword',keywords,selectedKeyword)
          mixin sidebarItem('need',needs,selectedNeed)
      .col-sm-9
        .row
        each project in projects
          .col-sm-6
            .card.project-list-card
                a(href='/projects/#{project.id}')
                  span.thumbnail(style='background-image:url(#{project.thumbnailUrl});').img-fluid.card-img-top
                .card-block
                  h3.card-title
                    a(href='/projects/#{project.id}')
                      =project.name
                  p.card-text= project.description
                  p.card-keywords
                    span Keywords
                    each keyword in project.keywords
                      a.badge(href="?keyword=#{keyword}")= keyword
                  p.card-needs
                    span Needs
                    each need in project.needs
                      a.badge(href="?need=#{need}")= need
