extends ../layout

block content
  .row.page-header
    h3.pull-left Manage Projects
    form.pull-right(method='POST', action='/projects/sync')
      input(type='hidden', name='_csrf', value=_csrf)
      button.btn.btn-primary(type='submit')
        i.fa.fa-refresh
        | Fetch Projects with Github
  .row
    .col-sm-12
      table.table
        thead
          tr
            th
              input.select-all(type="checkbox")
            th Project Name
            th Project Repo
            th Project Description
            th Project Homepage
            th Edit project
            th
              a(href='/projects/new') New Project
        tbody
          each project in projects
            tr
              td
                input.select-project(type="checkbox", value=project.slug)
              td.name
               a(href='/projects/#{project.id}') #{project.name}
              td.id
                a(href=project.repository, target="_blank") Link
              td.description= project.description
              td.homepage
                a(href=project.homepage, target="_blank")= project.homepage
              td.edit
                a(href='/projects/#{project.id}/settings') Edit
