extends ../layout

block content
  .row.breadcrumbs
    .col-sm-12
      a(href='/')= brigade.name
      | &nbsp;&nbsp;/&nbsp;
      a(href='/projects') Projects
      | &nbsp;&nbsp;/&nbsp;
      a(href='/projects/manage') Manage

  .page-header
    h3 Manage Projects
    if user && user.isAdmin()
      a(href='/projects/new') New Project
    |&nbsp;&nbsp;&nbsp;
    form.row.form-horizontal(action='/projects/manage', method='POST', id='mangageProjectsForm')
      input(type='hidden', name='_csrf', value=_csrf)
      table.table
        thread
          tr
            th Published?
            th Project Name
            th Project Repo
            th Project Description
            th Project Homepage
            th Edit project
            th Delete?
        tbody
          each project in projects
            tr
              td
                if project.published
                  input(type='checkbox', checked, name='#{project.id}[published]', id='published')
                else
                  input(type='checkbox', name='#{project.id}[published]', id='published')
              td
                input(type='text', name='#{project.id}[name]', value='#{project.name}')
                td.id
                  a(href=project.repository, target="_blank") Link
                td.description= project.description
                td.homepage
                  a(href=project.homepage, target="_blank")= project.homepage
                td.edit
                  a(href='/projects/#{project.id}/settings') Edit
              td
                input(type='checkbox', name='#{project.id}[delete]' id="delete")
                i(class="fa fa-trash-o" aria-hidden="true")

      .form-group.row
        .col-sm-4
          button.btn.btn.btn-primary(type='submit')
            i.fa.fa-pencilr
            | Save Changes
