var projectStatus = {
  "proposed": "label-info",
  "ideation": "label-info",
  "alpha": "label-danger",
  "beta": "label-warning",
  "production": "label-success",
  "archival": "label-success"}

extends ../layout

block content
  .row
    .col-sm-12
      h1.page-header= project.name
  .row
    .col-sm-9
      .banner(style="margin-bottom: 50px;")
        img(src="#{project.bannerUrl}").img-fluid
      .row
        .col-sm-8
          .description
            h4 Description
            p
              |  #{project.description}
          hr
          p.born-at
            strong Born at:
            |  #{project.bornAt}
          p.project-status
            strong Project status:
            if (project.status === 'alpha')
              span(class="label label-danger")  #{project.status}
            else if (project.status === 'beta')
              span(class="label label-warning")  #{project.status}
            else if (project.status === 'production' || project.status === 'archival')
              span(class="label label-success")  #{project.status}
            else if (project.status)
              span(class="label label-info")  #{project.status}
          p.homepage
            i.fa.fa-home.fa-fw
            a(href="#{project.homepage}") #{project.homepage}
          p.repository
            i.fa.fa-github-square.fa-fw
            a(href="#{project.repository}") #{project.repository}
          hr
          if (project.geography.length > 0)
            p.geography
              strong Geography:
              |  #{project.geography}
          if (project.politicalEntity.length > 0)
            p.political-entity
              strong Political entity:
              |  #{project.politicalEntity}
          if (project.type.length > 0)
            p.types
              strong Types:
              |  #{project.type}
          if (project.needs.length > 0)
            p.needs
              strong Needs:
              |  #{project.needs}
          if (project.categories.length > 0)
            p.categories
              strong Categories:
              |  #{project.categories}
          if (project.data.length > 0)
            p.data
              strong Data:
              |  #{project.data}
          if (project.keywords.length > 0)
            p.keywords
              strong keywords:
              |  #{project.keywords}
        .col-sm-4
          h4 Team
          each contact in contacts
            .media
              .media-left
                a(href="#")
                  img(src="http://placehold.it/40x40?text=contact").media-object.media-middle
              .media-body
                if (contact.username)
                  a(href="/users/#{contact.username}") #{contact.username}
                else
                  |#{contact}

    .col-sm-3
        .see-also
          .links
            .card
              a(href="#")
                img(src="http://placehold.it/400x400?text=other+project").card-img-top.img-fluid
              .card-block
                .card-title
                  a(href="#") Other Project A
                .card-text
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .card
              a(href="#")
                img(src="http://placehold.it/400x400?text=other+project").card-img-top.img-fluid
              .card-block
                .card-title
                  a(href="#") Other Project A
                .card-text
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .card
              a(href="#")
                img(src="http://placehold.it/400x400?text=other+project").card-img-top.img-fluid
              .card-block
                .card-title
                  a(href="#") Other Project A
                .card-text
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit.