var projectStatus = {
  "proposed": "label-info",
  "ideation": "label-info",
  "alpha": "label-danger",
  "beta": "label-warning",
  "production": "label-success",
  "archival": "label-success"}

extends ../layout

block content
  .row.breadcrumbs
    .col-sm-12
      a(href='/')= brigade.name
      | &nbsp;&nbsp;/&nbsp;
      a(href='/projects') Projects
      | &nbsp;&nbsp;/&nbsp;
      a(href='/projects/#{project.id}') #{project.name}
  .row
    .col-sm-12
      h1.page-header
        img(src='#{project.thumbnailUrl}', height='50')
        | &nbsp;
        =project.name
      if (user && (user.isAdmin() || user.isProjectLead()))
        span
          form(method='POST', action='/projects/#{project.id}/delete')
            input(type='hidden', name='_csrf', value=_csrf)
            button.float.right.btn.btn-primary(type='submit')
              i(class="fa fa-trash-o" aria-hidden="true")
              | Delete
  .row
    .col-sm-12
      .banner(style="margin-bottom: 50px;")
        span.project-banner(style='background-image:url(#{project.bannerUrl});').img-fluid
      .row
        .col-sm-8
          p !{project.content}
        .col-sm-4
          .project-meta
            .meta-title= project.name
            .meta-body
              .meta.meta-description.clearfix
                span= project.description
              .meta.meta-status.clearfix(class=(project.active?'hidden':''))
                span INACTIVE PROJECT
              .meta.meta-status.clearfix
                span Status
                span.info(data-status='#{project.status}')= project.status
              .meta.meta-homepage.clearfix
                span Homepage
                span.info
                  a(href='#{project.homepage}')= project.homepage.split('://')[1]
              .meta.meta-repo.clearfix
                span Source Code
                span.info
                  a(href='#{project.repository}')
                    | Github &nbsp;
                    i.fa.fa-github
              .meta.meta-bornat.clearfix
                span Maintained by
                span.info= project.bornAt
              .meta.meta-team.clearfix
                span 
                  | Project Lead
                  if project.leads.length > 1
                    | s
                span.info.infobox
                  for lead in project.leads
                    a(href='https://github.com/#{lead.username}', target="_blank").meta-teammember
                      img(src='#{lead.profile.picture}')
              .meta.meta-team.clearfix
                span Project Members
                span.info.infobox
                  for member in project.members
                    a(href='https://github.com/#{member.username}', target="_blank").meta-teammember
                      img(src='#{member.profile.picture}')
              .meta.meta-needs.clearfix
                span Current Needs
                span.info.infobox
                  for need in project.needs
                    span(class="label label-warning")= need
              .meta.meta-keywords.clearfix
                span Keywords
                span.info.infobox
                  for keyword in project.keywords
                    span(class="label label-warning")= keyword
