var projectStatus = {
  "proposed": "label-info",
  "ideation": "label-info",
  "alpha": "label-danger",
  "beta": "label-warning",
  "production": "label-success",
  "archival": "label-success"}

extends ../layout

block content
  .row
    .col-sm-12
      h1.page-header
        img(src='#{project.thumbnailUrl}', height='50')
        | &nbsp;
        =project.name
  .row
    .col-sm-12
      .banner(style="margin-bottom: 50px;")
        span.project-banner(style='background-image:url(#{project.bannerUrl});').img-fluid
      .row
        .col-sm-8
          p !{project.content}
        .col-sm-4
          .project-meta
            .meta-title= project.name
            .meta-body
              .meta.meta-description.clearfix
                span= project.description
              .meta.meta-status.clearfix
                span Status
                span.info(data-status='#{project.status}')= project.status
              .meta.meta-homepage.clearfix
                span Homepage
                span.info
                  a(href='#{project.homepage}')= project.homepage.split('://')[1]
              .meta.meta-repo.clearfix
                span Source Code
                span.info
                  a(href='#{project.repository}')
                    | Github &nbsp;
                    i.fa.fa-github
              .meta.meta-bornat.clearfix
                span Maintained by
                span.info= project.bornAt
              .meta.meta-team.clearfix
                span Team
                span.info.infobox
                  for member in project.team
                    a(href='#').meta-teammember
                      img(src='#{member.avatar}')
              .meta.meta-needs.clearfix
                span Current Needs
                span.info.infobox
                  for need in project.needs
                    span(class="label label-warning")= need
              .meta.meta-keywords.clearfix
                span Keywords
                span.info.infobox
                  for keyword in project.keywords
                    span(class="label label-warning")= keyword

    //- .col-sm-3
    //-     .see-also
    //-       .links
    //-         .card
    //-           a(href="#")
    //-             img(src="http://placehold.it/400x400?text=other+project").card-img-top.img-fluid
    //-           .card-block
    //-             .card-title
    //-               a(href="#") Other Project A
    //-             .card-text
    //-               p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    //-         .card
    //-           a(href="#")
    //-             img(src="http://placehold.it/400x400?text=other+project").card-img-top.img-fluid
    //-           .card-block
    //-             .card-title
    //-               a(href="#") Other Project A
    //-             .card-text
    //-               p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    //-         .card
    //-           a(href="#")
    //-             img(src="http://placehold.it/400x400?text=other+project").card-img-top.img-fluid
    //-           .card-block
    //-             .card-title
    //-               a(href="#") Other Project A
    //-             .card-text
    //-               p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
