extends ../layout

block content
  style(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css")
  style(rel="stylesheet").
    .avatar {
      width:30px;
      filter: grayscale(100%) brightness(200%);
    }
    .dropdown-menu label.checkbox {
      padding:5px;
    }
    .dropdown-menu a {
      text-decoration:none;
      color:#555;
      cursor:pointer;
    }
    .dropdown-menu .checkbox input[type="checkbox"] {
      display:none;
    }
    .dropdown-menu .checkbox input[type="checkbox"]:checked + img {
      filter: grayscale(0%) brightness(100%);
    }
  .row.breadcrumbs
    .col-sm-12
      a(href='/')= brigade.name
      | &nbsp;&nbsp;/&nbsp;
      a(href='/projects') Projects
      | &nbsp;&nbsp;/&nbsp;
      a(href='/projects/#{project.id}') #{project.name}
      | &nbsp;&nbsp;/&nbsp;
      a(href='/projects/#{project.id}/settings') Settings
  .page-header
    h3 Project Settings
    form.row.form-horizontal(action='/projects/#{project.id}', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group.row
        label.col-sm-3.control-label(for='title') Project title
        .col-sm-7
          input.form-control(type='text', name='title', id='title', value='#{project.name}', placeholder='Awesome Project Name')
      .form-group.row
        label.col-sm-3.control-label(for='title') Project Id (based off title)
        .col-sm-7
          pre
            code=project.id
      .form-group.row
        label.col-sm-3.control-label(for='description') Project Description
        .col-sm-7
          input.form-control(type='text', name='description', id='description', value='#{project.description}', placeholder='This project is the best thing ever.')
      .form-group.row
        label.col-sm-3.control-label(for='active') Active Project?
        .col-sm-7
          input(type='checkbox', name='active', id='active', checked=project.active)
      .form-group.row
        label.col-sm-3.control-label(for='status') Status
        .col-sm-7
          select.form-control(id="status", name="status")
            for status in ['proposed', 'discovery', 'alpha', 'beta', 'live', 'prototype', 'mvp' ]
              option(value="#{status}", selected=(status == project.status)) #{status}
      .form-group.row
        label.col-sm-3.control-label(for='geography') Location
        .col-sm-7
          input.form-control(type='text', name='geography', id='geography', value='#{project.geography}', placeholder='Awesome town, USA')
      .form-group.row
        label.col-sm-3.control-label(for='politicalEntity') Community Partner
        .col-sm-7
          input.form-control(type='text', name='politicalEntity', id='politicalEntity', value='#{project.politicalEntity}', placeholder='City of Awesome, LLC')
      .form-group.row
        label.col-sm-3.control-label(for='homepage') Homepage
        .col-sm-7
          input.form-control(type='text', name='homepage', id='homepage', value='#{project.homepage}')
      .form-group.row
        label.col-sm-3.control-label(for='githubSlug') GitHub Slug
        .col-sm-7
          input.form-control(type='text', name='githubSlug', id='githubSlug', value='#{project.githubSlug}')
      .form-group.row
        label.col-sm-3.control-label(for='repository') GitHub Repo
        .col-sm-7
          input.form-control(type='text', name='repository', id='repository', value='#{project.repository}')
      .form-group.row
        label.col-sm-3.control-label(for='members') Project Leads
        .col-sm-7
          select.form-control.leads-select(name='leads', id='leads', multiple=true)
            for lead in users
              option(value=lead.username, data-img=lead.profile.picture, selected=(lead.teams.lead.indexOf(project.id)>-1)) #{lead.profile.name} (#{lead.username})
      .form-group.row
        label.col-sm-3.control-label(for='members') Project Members
        .col-sm-7
          select.form-control.members-select(name='members', id='members', multiple=true)
            for member in users
              option(value=member.username, data-img=member.profile.picture, selected=(member.teams.project.indexOf(project.id)>-1)) #{member.profile.name} (#{member.username})
      .form-group.row
        label.col-sm-3.control-label(for='needs') Project Needs
        .col-sm-7
          select.form-control.input-tags-target(name='needs', id='needs', multiple=true, data-role="tagsinput")
            for need in project.needs
              option(value="#{need}", selected=true) #{need}
      .form-group.row
        label.col-sm-3.control-label(for='keywords') Project Keywords
        .col-sm-7
          select.form-control.input-tags-target(name='keywords', id='keywords', multiple=true, data-role="tagsinput")
            for keyword in project.keywords
              option(value="#{keyword}", selected=true) #{keyword}
      .form-group.row
        label.col-sm-3.control-label(for='thumbnailUrl') Project Thumbnail Image URL
        .col-sm-7
          input.form-control(type='text', name='thumbnailUrl', id='thumbnailUrl', value='#{project.thumbnailUrl}')
      .form-group.row
        .col-sm-7.col-sm-offset-3
          img(src="#{project.thumbnailUrl}")
      .form-group.row
        label.col-sm-3.control-label(for='bannerUrl') Project Banner Image URL
        .col-sm-7
          input.form-control(type='text', name='bannerUrl', id='bannerUrl', value='#{project.bannerUrl}')
      .form-group.row
        .col-sm-7.col-sm-offset-3
          img(src="#{project.bannerUrl}")
      .form-group.row
        label.col-sm-3.control-label(for='content') Project Profile Content &nbsp;
          a(href='https://guides.github.com/features/mastering-markdown/#syntax')
            img(src='https://cdn.rawgit.com/dcurtis/markdown-mark/master/svg/markdown-mark.svg', width='25')
        .col-sm-7
          textarea.form-control.simple-mde(name='content', id='content', rows="6")
            |#{project.content}
      .form-group.row
        .col-sm-offset-3.col-sm-4
          button.btn.btn.btn-primary(type='submit')
            i.fa.fa-pencil
            | Update Project
  a(href='/projects/manage') Back
block script
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js")
  script.
    $(document).ready(function() {
      var teamSelectSettings = {
        enableHTML: true,
        optionLabel: function(element) {
            return '<img class="avatar" src="'+$(element).attr('data-img')+'"> '+$(element).text()
        }
      }
      $('.leads-select').multiselect(teamSelectSettings)
      $('.members-select').multiselect(teamSelectSettings)
    })
