extends ../layout

block content
  .page-header
    h3 Manage contact page
    .row
      .col-sm-6
      form.row.form-horizontal(action='/contact', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        table.table
          thead
            tr
              th Username
              th Name
              th Display contact info to public?
              th Display Order
          tbody
            each user in users
              tr
                td.username= user.username
                td.name= user.profile.name
                td.select
                  input.select-user.center-block(type='checkbox', name='#{user.username}[showcontact]', checked=(user.profile.showcontact))
                td.col-sm-5
                  input.form-control(type='text', name='#{user.username}[contactrank]', value='#{user.profile.contactpagerank}')
         .form-group
            button.btn.btn.btn-primary(type='submit')
              i.fa.fa-pencil
              | Submit changes


