extends ../layout

//- http://fullcalendar.io/docs/usage/

block content
  .row.page-header
    .col-sm-12
      h1 Events
  .row
    .col-sm-12
      p
        #events-calendar
  script.
    // make this object available to frontend js for rendering in calendar
    window._events = !{JSON.stringify(events).replace(/<\//g, "<\\/")}
  .row
    .col-sm-12
      h1 Upcoming events list
      table.table
        thead
          tr
            th Event name
            th Date & time
            th Host
            th Address
            th
        tbody
          each event in upcomingevents
            tr
              td #{event.title}
              td
                |Local event time: #{event.localstart}
                br
                |User converted time: #{event.convertedstart}
              td #{event.host}
              td #{event.location}
              td
                a(href='#{event.url}', class="mu-rsvp-btn") RSVP
  script.
    ! function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (!d.getElementById(id)) {
          js = d.createElement(s);
          js.id = id;
          js.async = true;
          js.src = "https://a248.e.akamai.net/secure.meetupstatic.com/s/script/2012676015776998360572/api/mu.btns.js?id=#{brigade.auth.meetup.consumerKey}";
          fjs.parentNode.insertBefore(js, fjs);
      }
    }(document, "script", "mu-bootjs");
