extends ../layout

block content
  .page-header.row
    h3 Manage Events
    form.pull-right(method='POST', action='/events/sync')
      input(type='hidden', name='_csrf', value=_csrf)
      button.btn.btn-primary(type='submit')
        i.fa.fa-refresh
        | Fetch Meetup Events
  .row
    h1 All events
    table.table
      thead
        tr
          th Event name
          th Date & time
          th Host
          th Address
          th
          th
            a(href='/events/new').pull-right Add new event
      tbody
        each event in allEvents
          tr
            td #{event.title}
            td #{event.localstart}
            td #{event.host}
            td #{event.location}
            td
              a(href='/events/#{event.id}/settings') Edit
            td
              form(method='POST', action='/events/#{event.id}/delete')
                input(type='hidden', name='_csrf', value=_csrf)
                button(type='submit')
                  | Delete
  .row
    form.pull-right(method='POST', action='/events/delete')
      input(type='hidden', name='_csrf', value=_csrf)
      button.btn.btn-primary(type='submit')
        i.fa.fa-trash
        | Delete All Events