extends ../layout

mixin sidebarItem(name,subItems,selectedItem)
  li= plural(capitalize(name))
    ul(data-sidebar=name)
      if selectedItem
        li
          a(href='?') 
            i.fa.fa-close
            | Clear Selection
      each item in subItems
        li(class=selectedItem===item?'selected':'')
          a(href="?#{name}=#{item}")= item

block content
  .breadcrumbs
    .col-sm-12
      a(href='/')= brigade.name
      | &nbsp;&nbsp;/&nbsp; 
      a(href='/blog') Blog
  .page-header
    .col-sm-12
      h1.page-title Blog
  if user && user.isBlogger()
    a.btn.btn-secondary(href='/blog/new') New Post
  .la
    hr
  .container
    .la
      .col-sm-3.sidebar
        ul
          mixin sidebarItem('tag',tags,selectedTag)
      .col-sm-9
        .la
          each post in posts
            if post.published
              .col-sm-6
                .card.post-list-card
                  a(href='/blog/post/#{post.slug}')
                    span.thumbnail(style='background-image:url(#{post.image});').img-fluid.card-img-top
                  .card-block
                    h3.card-title
                      a(href='/blog/post/#{post.slug}')
                        =post.title
                    p.card-text= post.description
                    p.card-author
                      span Author
                      =post.author
                    p.card-date
                      span Date
                      =post.date
                    p.card-tags
                      span Tags
                      each tag in post.tags
                        a.badge(href="?tag=#{tag}")= tag
        if totalPages > 1
          .col-md-12
            if page > 1 
              a(href=currentUrl+(+page-1)) 
                i(class="fa fa-arrow-left" aria-hidden="true")
                | Prev 
              | | 
            | Page #{page}  
            if page < totalPages
              | | 
              a(href=currentUrl+(+page+1)) Next 
                i(class="fa fa-arrow-right" aria-hidden="true")
    
