extends ../layout

block content
  .row.breadcrumbs
    .col-sm-12
      a(href='/')= brigade.name
      | &nbsp;&nbsp;/&nbsp; 
      a(href='/blog') Blog
  .row.page-header
    .col-sm-12
      h1.page-title Blog
  a.btn.btn-secondary(href='/blog/new') New Post
  .row.tags
    ul
      if query
        li
          a(href='?') Clear Search Tag
      each tag in tags
        li(class=query===tag?'selected':'')
          a(href="?tag=#{tag}")= tag
  .row
    //- slug: String, // this is the slug
    //- title: String, // Display title
    //- author: String,
    //- url: String, // an external link you can use to override where to go when clicking
    //- image: String,
    //- description: String,
    //- content: String,
    //- date: String,
    //- unix: Number,
    //- tags: Array
    .col-sm-12
      each post in posts
        a.col-sm-2.col-md-4(href=(post.url !== '' ? post.url : '/blog/'+post.slug))
          img(src=post.image, style="width:100%;")
          span.date= post.date
          | | 
          span.author= post.author
          h4= post.title
          p= post.description
            
