extends ../layout

block content
  .row.breadcrumbs
    .col-sm-12
      a(href='/')= brigade.name
      | &nbsp;&nbsp;/&nbsp; 
      a(href='/blog') Blog
  .row.page-header
    .col-sm-12
      h1.page-title Blog
  if user && user.isBlogger()
    a.btn.btn-secondary(href='/blog/new') New Post
  .row.tags
    ul
      if selectedTag
        li
          a(href='?') Clear Search Tag
      each tag in tags
        li(class=selectedTag===tag?'selected':'')
          a(href="?tag=#{tag}")= tag
  .row
    //- slug: String, // this is the slug
    //- title: String, // Display title
    //- author: String,
    //- url: String, // an external link you can use to override where to go when clicking
    //- image: String,
    //- description: String,
    //- content: String,
    //- date: String,
    //- unix: Number,
    //- tags: Array
    .col-sm-12
      each post, index in posts
        // rows don't work when made smaller, fix css later
        if index%3 === 0
          .row
        article.col-sm-2.col-md-4(class=post.published === true ? "" : "draft")
          a(href=(post.url !== '' ? post.url : '/blog/post/'+post.slug))
            img(src=post.image, style="width:100%;")

            
          span.date= post.date
          | | 
          a(href="/author/#{post.author}")
            span.author= post.author
          if user && (user.isAdmin() || user.username === post.author)
            |  | 
            a(href="/blog/post/#{post.slug}/edit") edit
          a(href=(post.url !== '' ? post.url : '/blog/post/'+post.slug))
            h4= post.title
            p= post.description
    if totalPages > 1
      .row.col-md-12
        if page > 1 
          a(href=currentUrl+(+page-1)) 
            i(class="fa fa-arrow-left" aria-hidden="true")
            | Prev 
        | | Page #{page} | 
        if page < totalPages
          a(href=currentUrl+(+page+1)) Next 
            i(class="fa fa-arrow-right" aria-hidden="true")
      
