extends ../layout

block content
  .page-header
    h3 Manage Blog Posts

    form.row.form-horizontal(action='/blog/manage', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      table.table-striped
        tr
          td published?
          td title
          td author
          td date published
          td  
          td delete?
        each post in posts
          tr
            td(scope="row")
              if post.published
                input(type='checkbox', checked, name='#{post.id}[published]', id='published')
              else
                input(type='checkbox', name='#{post.id}[published]', id='published')
            td
              input(type='text', name='#{post.id}[title]', value='#{post.title}')
            td(scope="row")
              input(type='text', name='#{post.id}[author]', value='#{post.author}')
            td(scope="row")
              input(type='text', name='#{post.id}[date]', value='#{post.date}')
            td(scope="row")
              a(href='/blog/post/#{post.slug}/edit')
                span edit
            td(scope="row")
              input(type='checkbox', name='#{post.id}[delete]', id='published')

      .form-group.row
        .col-sm-offset-3.col-sm-4
          button.btn.btn.btn-primary(type='submit')
            i.fa.fa-pencilr
            | Save Changes
