extends ../layout

block content
  .page-header
    h3 Manage Blog Posts

    form.row.form-horizontal(action='/blog/manage', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      div
        each post in posts
          div.row.form-horizontal
            span #{post.title} 
            input(type='text', name='#{post.id}[author]', value='#{post.author}')
            input(type='text', name='#{post.id}[date]', value='#{post.date}')
            span  Published?
              if post.published
                input(type='checkbox', post.published ? 'checked' : '', name='#{post.id}[published]', id='published')
              else
                input(type='checkbox', name='#{post.id}[published]', id='published')
              
            a(href=(post.url !== '' ? post.url : '/blog/post/'+post.slug+'/edit'))
              span  edit
              
      .form-group.row
        .col-sm-offset-3.col-sm-4
          button.btn.btn.btn-primary(type='submit')
            i.fa.fa-pencilr
            | Save Post
