extends ../layout

block content
  .row.breadcrumbs
    .col-sm-12
      a(href='/')= brigade.name
      | &nbsp;&nbsp;/&nbsp; 
      a(href='/blog') Blog
      | &nbsp;&nbsp;/&nbsp; 
      a(href='/blog/#{post.slug}')= post.title
  .row.page-header
    .col-sm-12
      h1= post.title
  .row 
    .col-sm-12
      .page-header.float
        p #{post.date} |
          each tag in post.tags
            //- if tag === 
            a(href='/blog?tag=#{tag}') #{tag}
            | &nbsp;
      if user && (user.roles.core || user.roles.superAdmin)
        a.float.right.btn.btn-secondary(href="/blog/#{post.slug}/edit") Edit this post
      
  .row 
    if post.image
      .col-sm-12(style="display:block; background-image:url('#{post.image}'); width:100%; height:399px; background-size:cover; background-position:center center;")
  .row 
    .col-sm-9
      p !{post.content}
    .col-sm-3
      figure
        img(src="", alt="").img-fluid.img-thumbnail
        p= post.author
        p
          a(href="/author/#{post.author}").btn.btn-secondary Other Articles from the Author
            
//- slug: String, // this is the slug
//- title: String, // Display title
//- author: String,
//- url: String, // an external link you can use to override where to go when clicking
//- image: String,
//- description: String,
//- content: String,
//- date: String,
//- unix: Number,
//- tags: Array
