extends ../layout

//- http://fullcalendar.io/docs/usage/

block content
  if !error
    .row.page-header
      h3 All Events
    .row
      p
        #events-calendar
    script.
      // make this object available to frontend js for rendering in calendar
      window._events = !{JSON.stringify(events).replace(/<\//g, "<\\/")}
    h1 Upcoming events list
    each event in upcomingevents
      .project-card
        span.title= event.title
        br
        span.description  Date and start time: #{event.start}
        br
        span.description  Venue: #{event.venue}
        br
        span.description Address: #{event.address}, #{event.city}
        br
        a(href='#{event.url_page}', target='_blank') Event Meetup Page
        br
        br
  else
    h3 There was a problem fetching your events from Meetup