extends ../layout

block content
  .page-header
    h3 New Event
    form.row.form-horizontal(action='/events/new', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-3.control-label(for='title') Event title
          .col-sm-7
            input.form-control(type='name', name='title', id='title', value='')
        .form-group
          label.col-sm-3.control-label(for='location') Location
          .col-sm-7
            input.form-control(type='location', name='location', id='location', value='')
        .form-group
          label.col-sm-3.control-label(for='host') Host
          .col-sm-7
            input.form-control(type='host', name='host', id='host', value='')
        .form-group
          label.col-sm-3.control-label(for='start') Event start:
          .col-sm-7
            select(id="startmonth", name="startmonth")
              for month in ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']
                option(value="#{month}-") #{month}
            select(id="startday", name="startday")
              -for(var i = 1;i<31;i++){
              option(value="#{i}-") #{i}
              -}
            select(id="startyear", name="startyear")
              -for(var i = 2016;i<2030;i++){
              option(value="#{i} ") #{i}
              -}
            |---
            select(id="starthour", name="starthour")
              -for(var i = 1;i<25;i++){
              option(value="#{i}:") #{i}
              -}
            |:
            select(id="startminute", name="startminute")
              -for(var i = 0;i<61;i++){
              option(value="#{i}:00") #{i}
              -}
            <br/><br/>
        .form-group
          label.col-sm-3.control-label(for='end') Event End:
          .col-sm-7
            select(id="endmonth", name="endmonth")
              for month in ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']
                option(value="#{month}-") #{month}
            select(id="endday", name="endday")
              -for(var i = 1;i<31;i++){
              option(value="#{i}-") #{i}
              -}
            select(id="endyear", name="endyear")
              -for(var i = 2016;i<2030;i++){
              option(value="#{i} ") #{i}
              -}
            |---
            select(id="endhour", name="endhour")
              -for(var i = 1;i<25;i++){
              option(value="#{i}:") #{i}
              -}
            |:
            select(id="endminute", name="endminute")
              -for(var i = 0;i<61;i++){
              option(value="#{i}:00") #{i}
              -}
            <br/><br/>
        .form-group
          label.col-sm-3.control-label(for='url') Event URL
          .col-sm-7
            input.form-control(type='name', name='url', id='url', value='')
        .form-group
          label.col-sm-3.control-label(for='description') Description
          .col-sm-7
            textarea.form-control(name='description', id='description', rows="6")
        .form-group
          .col-sm-offset-3.col-sm-4
            button.btn.btn.btn-primary(type='submit')
              i.fa.fa-pencil
              | Create Event
      a(href='/events/manage') Back