extends ../layout

block content
  .row.breadcrumbs
    .col-sm-12
      a(href='/')= brigade.name
      | &nbsp;&nbsp;/&nbsp;
      a(href='/event') Events
      | &nbsp;&nbsp;/&nbsp;
      a(href='/event/manage') Manage

  .page-header
    h3 Manage Events
    if user && user.isAdmin()
      a(href='/events/new') Add new event
    |&nbsp;&nbsp;&nbsp;
    form.row.form-horizontal(action='/events/manage', method='POST', id='manageEventsForm')
      input(type='hidden', name='_csrf', value=_csrf)
      table.table
        thead
          tr
            th Event name
            th Date & time
            th Host
            th Address
            th
            th Delete?
        tbody
          each event in allEvents
            tr
              td 
                input(type='text', name='#{event.id}[title]', value='#{event.title}')
              td 
                input(type='text', name='#{event.id}[localstart]', value='#{event.localstart}')
              td 
                input(type='text', name='#{event.id}[host]', value='#{event.host}')
              td 
                input(type='text', name='#{event.id}[location]', value='#{event.location}')
              td.edit
                a(href='/events/#{event.id}/settings') Edit
              td
                i(class="fa fa-trash-o" aria-hidden="true")
                input(type='checkbox', name='#{event.id}[delete]' id="delete")

      .form-group.row
        .col-sm-4
          button.btn.btn.btn-primary(type='submit')
            i.fa.fa-pencilr
            | Save Changes
