extends ../layout

block content
  .row.breadcrumbs
    .col-sm-12
      a(href='/')= brigade.name
      | &nbsp;&nbsp;/&nbsp;
      a(href='/events') Events
      | &nbsp;&nbsp;/&nbsp;
      a(href='/events/new') New

  .page-header
    h3 New Event
    form.row.form-horizontal(action='/events/new', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-3.control-label(for='title') Event title
          .col-sm-7
            input.form-control(type='name', name='title', id='title', required)
        .form-group
          label.col-sm-3.control-label(for='location') Location
          .col-sm-7
            input.form-control(type='location', name='location', id='location', required)
        .form-group
          label.col-sm-3.control-label(for='host') Host
          .col-sm-7
            input.form-control(type='host', name='host', id='host', value='')
        .form-group
          label.col-sm-3.control-label(for='start') Event start:
          .col-sm-7
            select(id="startmonth", name="startmonth")
              for month in ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']
                option(value="#{month}-") #{month}
            select(id="startday", name="startday")
              -for(var day = 1;day<31;day++){
              option(value="#{day}-") #{day}
              -}
            select(id="startyear", name="startyear")
              -for(var year = 2016;year<2030;year++){
              option(value="#{year} ") #{year}
              -}
            |---
            select(id="starthour", name="starthour")
              -for(var hour = 0;hour<24;hour++){
              option(value="#{hour}:") #{hour}
              -}
            |:
            select(id="startminute", name="startminute")
              -for(var min = 0;min<60;min++){
              option(value="#{min}:00") #{min < 10 ? ('0' + min) : min}
              -}
            <br/><br/>
        .form-group
          label.col-sm-3.control-label(for='end') Event End:
          .col-sm-7
            select(id="endmonth", name="endmonth")
              for month in ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']
                option(value="#{month}-") #{month}
            select(id="endday", name="endday")
              -for(var day = 1;day<31;day++){
              option(value="#{day}-") #{day}
              -}
            select(id="endyear", name="endyear")
              -for(var year = 2016;year<2030;year++){
              option(value="#{year} ") #{year}
              -}
            |---
            select(id="endhour", name="endhour")
              -for(var hour = 0;hour<24;hour++){
              option(value="#{hour}:") #{hour}
              -}
            |:
            select(id="endminute", name="endminute")
              -for(var min = 0;min<60;min++){
              option(value="#{min}:00") #{min < 10 ? ('0' + min) : min}
              -}
            <br/><br/>
        .form-group
          label.col-sm-3.control-label(for='url') Event URL
          .col-sm-7
            input.form-control(type='name', name='url', id='url', required)
        .form-group
          label.col-sm-3.control-label(for='description') Description
          .col-sm-7
            textarea.form-control(name='description', id='description', rows="6")
        .form-group
          .col-sm-offset-3.col-sm-4
            button.btn.btn.btn-primary(type='submit')
              i.fa.fa-pencil
              | Create Event
      a(href='/events/manage') Back