form(action='/checkin', method='post')
  input(type='hidden', name='_csrf', value=_csrf)
  if user
    input(type='hidden', name='name', value=user.profile.name)
    input(type='hidden', name='githubUsername', value=user.username)
    input(type='hidden', name='email', value=user.email)
    if user.teams.lead.length || user.teams.project.length
      .form-group.row
        label.col-sm-3.control-label(for='teams') Here working on:
        .col-sm-7
          select.form-control.input-tags-target(name='teams', id='teams', multiple=true, data-role="tagsinput")
            for team in user.teams.lead
              option(value="#{team}", selected=true) #{team}
            for team in user.teams.project
              option(value="#{team}", selected=true) #{team}  
  else
    .form-group.row
      label.col-sm-3.control-label(for='name') Name
      .col-sm-7
        input.form-control(type='text', name='name', id='name', placeholder='Jane CivicHacker')
    .form-group.row
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='text', name='email', id='email', placeholder='e.g. civichacking@example.com')
    .form-group.row
      label.col-sm-3.control-label(for='githubUsername') Github Username
      .col-sm-3
        input.form-control(type='text', name='githubUsername', id='githubUsername', placeholder='e.g. civixhaxor')
      .col-sm-1 OR
      .col-sm-3
        a.form-control.btn.btn-social.btn-github(href="/auth/github")
          i.fa.fa-github 
          | Login with Github
  if !user || !user.mailingList
    .form-group.row
      label.col-sm-3.control-label(for='mailingList') Subscribe to Newsletter?
      .col-sm-7
        input(type='checkbox', name='mailingList', id='mailingList', value='mailingList', checked=(user?user.mailingList:false))
  .form-group.row
    label.col-sm-3.control-label(for='skills') 
      | My skills (comma separated)
      br
      em.small (don't worry, these can be updated later)
    .col-sm-7
      select.form-control.input-tags-target(name='skills', id='skills', multiple=true, data-role="tagsinput")
        for skill in (user?user.skills:[])
          option(value="#{skill}", selected=true) #{skill}
  if !user || !user.referredBy || user.referredBy === ''
    .form-group.row
      label.col-sm-3.control-label(for='referredBy') How did you hear about us?
      .col-sm-7
        select(id="referredBy", name="referredBy")
          option(selected)
          for reference in referredBy
            option(value=reference) #{reference}
  br
  if user && user.roles.lead && user.teams.lead.length
    for team in user.teams.lead
      hr.row
      h3.row=team
      .form-group.row
        label.col-sm-3.control-label(for='expectedAttendance-#{team}') Expected Attendance
        .col-sm-7
          input.form-control(type='number', name='expectedAttendance-#{team}', id='expectedAttendance-#{team}', value='expectedAttendance')
      .form-group.row
        label.col-sm-3.control-label(for='reserve-#{team}') Which location would you like to reserve (if any)?
        .col-sm-7
          select(id="reserve-#{team}", name="reserve-#{team}")
            option(selected) Select a location...
            for location in locations
              option(value=location) #{location}
          | <br/><br/>
  button.btn.btn-social.btn-google(type=submit)
    i.fa.fa-map-marker
    | Check in!
