extends ../layout

block content
  .page-header
    h3 Manage users and roles
    form.pull-right(method='POST', action='/users/sync')
      input(type='hidden', name='_csrf', value=_csrf)
      button.btn.btn-primary(type='submit')
        i.fa.fa-github
        | Fetch Users from #{ brigade.slug }
    a(href='/contact/edit')
      button.btn.btn-default(type='button')
        | Manage contact page
    a(href='/users/new')
      button.btn.btn-default.pull-right(type='button')
        | Add New User
    .row
      .col-sm-6
      table.table
        thead
          tr
            th username
            th name
            th email
            th Blog
            th Projects
            th Project Lead
            th Core
            th Core Team Lead
            th Super Admin
            th github ID
        tbody
        form.pull-right(method='POST', action='/users/manage')
          input(type='hidden', name='_csrf', value=_csrf)
          each user in users
            tr
              td.username= user.username
              td.name= user.profile.name
              td.email= user.email
              td
                input(type='checkbox', name='#{user.username}[blogRole]', checked=user.roles.blog)
              td
                input(type='checkbox', name='#{user.username}[projectRole]', checked=user.roles.project)
              td
                input(type='checkbox', name='#{user.username}[projectLeadRole]', checked=user.roles.lead)
              td
                if (currentuser.roles.core || currentuser.roles.coreLead || currentuser.roles.superAdmin)
                  input(type='checkbox', name='#{user.username}[coreRole]', checked=user.roles.core)
                else
                  input(type='checkbox', name='#{user.username}[coreRole]', checked=user.roles.core, disabled='disabled')
              td
                if (currentuser.roles.coreLead || currentuser.roles.superAdmin)
                  input(type='checkbox', name='#{user.username}[coreLeadRole]', checked=user.roles.coreLead)
                else
                  input(type='checkbox', name='#{user.username}[coreLeadRole]', checked=user.roles.coreLead, disabled='disabled')
              td
                if (currentuser.roles.superAdmin)
                  input(type='checkbox', name='#{user.username}[superAdmin]', checked=user.roles.superAdmin, onclick="warning('#{user.username}')")
                  script.
                    function warning(name) {
                      var userbox = document.getElementsByName('#{currentuser.username}[superAdmin]')
                      console.log(userbox[0].checked)
                      if (name == '#{currentuser.username}' && !userbox[0].checked) {
                        alert('Please be careful when changing your own Super Admin rights. You will need to contact another Super Admin to reinstate your privileges if you disable yours.')
                      }
                    }
                else
                  input(type='checkbox', name='#{user.username}[superAdmin]', checked=user.roles.superAdmin, disabled='disabled')
              td.github= user.github
          tr
            td
              button.btn.btn-primary(type='submit')
                | Submit changes
