extends ../layout

block content
  .page-header
    h3 Manage User Roles
    form.pull-right(method='POST', action='/users/sync')
      input(type='hidden', name='_csrf', value=_csrf)
      button.btn.btn-primary(type='submit')
        i.fa.fa-github
        | Fetch Users from #{ brigade.slug }
    .row
      .col-sm-6
      table.table
        thead
          tr
            th username
            th name
            th email
            th Blog
            th Projects
            th Project Lead
            th Core
            th Core Team Lead
            th Super Admin
            th github ID
        tbody
        form.pull-right(method='POST', action='/users/manage')
          input(type='hidden', name='_csrf', value=_csrf)
          each user in users
            tr
              td.username= user.username
              td.name= user.profile.name
              td.email= user.email
              td
                input(type='checkbox', name='#{user.username}[blogRole]', checked=user.roles.blog)
              td
                input(type='checkbox', name='#{user.username}[projectRole]', checked=user.roles.project)
              td
                input(type='checkbox', name='#{user.username}[projectLeadRole]', checked=user.roles.lead)
              td
                input(type='checkbox', name='#{user.username}[coreRole]', checked=user.roles.core)
              td
                input(type='checkbox', name='#{user.username}[coreLeadRole]', checked=user.roles.coreLead)
              td
                input(type='checkbox', name='#{user.username}[superAdmin]', checked=user.roles.superAdmin)
              td.github= user.github
          tr
            td
              button.btn.btn-primary(type='submit')
                | Submit changes

