extends ../layout

block content
  .row.breadcrumbs
    .col-sm-12
      a(href='/')= brigade.name
      | &nbsp;&nbsp;/&nbsp;
      a(href='/projects') Projects
      | &nbsp;&nbsp;/&nbsp;
      a(href='/projects/new') New Project
  .page-header
    h3 New Project
    form.row.form-horizontal(action='/projects/new', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group.row
        label.col-sm-3.control-label(for='title') Project title
        .col-sm-7
          input.form-control(type='text', name='title', id='title', placeholder='Awesome Project Name')
      .form-group.row
        label.col-sm-3.control-label(for='description') Project Description
        .col-sm-7
          input.form-control(type='text', name='description', id='description', placeholder='This project is the best thing ever.')
      .form-group.row
        label.col-sm-3.control-label(for='active') Active Project?
        .col-sm-7
          input(type='checkbox', name='active', id='active')
      .form-group.row
        label.col-sm-3.control-label(for='status') Status
        .col-sm-7
          select.form-control(id="status", name="status")
            for status in ['proposed', 'discovery', 'alpha', 'beta', 'live', 'prototype', 'mvp' ]
              option(value="#{status}", selected=(status == 'proposed')) #{status}
      .form-group.row
        label.col-sm-3.control-label(for='geography') Location
        .col-sm-7
          input.form-control(type='text', name='geography', id='geography', placeholder='Awesome town, USA')
      .form-group.row
        label.col-sm-3.control-label(for='politicalEntity') Community Partner
        .col-sm-7
          input.form-control(type='text', name='politicalEntity', id='politicalEntity', placeholder='City of Awesome, LLC')
      .form-group.row
        label.col-sm-3.control-label(for='homepage') Homepage
        .col-sm-7
          input.form-control(type='text', name='homepage', id='homepage')
      .form-group.row
        label.col-sm-3.control-label(for='githubSlug') GitHub Slug
        .col-sm-7
          input.form-control(type='text', name='githubSlug', id='githubSlug')
      .form-group.row
        label.col-sm-3.control-label(for='repository') GitHub Repo
        .col-sm-7
          input.form-control(type='text', name='repository', id='repository')
      .form-group.row
        label.col-sm-3.control-label(for='team') Project Team
        .col-sm-7
          select.form-control.input-tags-target(name='team', id='team', multiple=true, data-role="tagsinput")
      .form-group.row
        label.col-sm-3.control-label(for='needs') Project Needs
        .col-sm-7
          select.form-control.input-tags-target(name='needs', id='needs', multiple=true, data-role="tagsinput")
      .form-group.row
        label.col-sm-3.control-label(for='keywords') Project Keywords
        .col-sm-7
          select.form-control.input-tags-target(name='keywords', id='keywords', multiple=true, data-role="tagsinput")
      .form-group.row
        label.col-sm-3.control-label(for='thumbnailUrl') Project Thumbnail Image URL
        .col-sm-7
          input.form-control(type='text', name='thumbnailUrl', id='thumbnailUrl')
      .form-group.row
        label.col-sm-3.control-label(for='bannerUrl') Project Banner Image URL
        .col-sm-7
          input.form-control(type='text', name='bannerUrl', id='bannerUrl')
      .form-group.row
        label.col-sm-3.control-label(for='content') Project Profile Content &nbsp;
          a(href='https://guides.github.com/features/mastering-markdown/#syntax')
            img(src='https://cdn.rawgit.com/dcurtis/markdown-mark/master/svg/markdown-mark.svg', width='25')
        .col-sm-7
          textarea.form-control.simple-mde(name='content', id='content', rows="6")
      .form-group.row
        .col-sm-offset-3.col-sm-4
          button.btn.btn.btn-primary(type='submit')
            i.fa.fa-pencil
            | Save Project
  a(href='/projects') Back
