footer
  .container
    .row.partners-title
      .col-sm-12
        h3 Partners
    .row.partners-logos
      each sponsor in brigade.sponsors
        if (!(sponsor.main) && (sponsor.link !== "undefined"))
          .col-md-4
            a(href=sponsor.link target="_blank")
              img(src=sponsor.image, alt=sponsor.name)
        else
          .col-md-4
            a()
              img(src=sponsor.image, alt=sponsor.name)
  .row.footer-nav
    .col-sm-12
      ul
        li#menu-item-385.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-385
          a(href='http://codeforpoland.org/')=brigade.name
        if brigade.theme.page.events
          li
            a(href='/events') Events
        if brigade.theme.page.projects
          li
            a(href='/projects') Projects
        if brigade.theme.page.blog
          li
            a(href='/blog') Blog
        each external in brigade.theme.page.external
          li
            a(href=external.link, target=external.target)=external.name
        if brigade.theme.page.about
          li
            a(href='/contact') Contact

        li.float.right
          a(href='https://github.com/sfbrigade/brigadehub') powered by brigadehub
