extends ../layout

mixin sidebarItem(name,subItems)
  li=name
          ul
            each val in subItems
              li
                a=val


block content
  .container
    .row
      .col-sm-12
        h2 All Projects
        hr
    .row
      //sidebar list
      .col-sm-3.sidebar
        //parent list
        ul
          mixin sidebarItem('Project status',['Development','Public test','Official / running'])
          mixin sidebarItem('Dedicated for',['Civil society organizations','Cities','Watchdogs'])
          mixin sidebarItem('Development status',['active','Suspended'])
          mixin sidebarItem('Join as',['backend developer','frontend developer','designer','editorial staff'])
          mixin sidebarItem('Developed locally in',['San Francisco'])
          mixin sidebarItem('Technologies',['Android','AngularJS','Django','iOS','Javascript'])
      //Add projects    
      .col-sm-9
        .row
        each project in projects
          // for perfect alignment, need a row on every odd instance of project. (row, col col, row, col col, etc. ) this code will look ok unitl you get a lot of description text on a project. - AB
          .col-sm-6
            .card
                a(href='/projects/#{project.id}')
                  img(src='http://placehold.it/200x200' alt='placeholder').img-fluid.card-img-top
                .card-block
                  h3.card-title
                    a(href='/projects/#{project.id}')
                      =project.name
                  p.card-text= project.description