extends ../layout

mixin sidebarItem(name,subItems)
  li=name
          ul
            each val in subItems
              li
                a=val


block content
  .page-header
    h3 All Projects
    //sidebar list
    .row
      .col-sm-3
        //parent list
        ul
          mixin sidebarItem('Project status',['Development','Public test','Official / running'])
          mixin sidebarItem('Dedicated for',['Civil society organizations','Cities','Watchdogs'])
          mixin sidebarItem('Development status',['active','Suspended'])
          mixin sidebarItem('Join as',['backend developer','frontend developer','designer','editorial staff'])
          mixin sidebarItem('Developed locally in',['San Francisco'])
          mixin sidebarItem('Technologies',['Android','AngularJS','Django','iOS','Javascript'])
      //Add projects    
      .col-sm-9
        each project in projects
          .project-card
            figure
              a(href=project.homepage)
                img(src='http://placehold.it/200x200' width='200' height='200' alt='placeholder')
              div
                h3
                  a(href=project.homepage)
                    =project.name
                br
                p.description= project.description
                br
