extends ../layout

block content
  .row.page-header
    h3.pull-left Manage Projects
    form.pull-right(method='POST', action='/projects/sync')
      input(type='hidden', name='_csrf', value=_csrf)
      button.btn.btn-primary(type='submit')
        i.fa.fa-refresh
        | Fetch Projects with Github
  .row
    .col-sm-12
      table.table
        thead
          tr
            th
              input.select-all(type="checkbox")
            th Project name
            th Project repo
            th Project Description
            th Project Homepage
            th Project Repo
        tbody
          each project in projects
            tr
              td
                input.select-project(type="checkbox", value=project.slug)
              td.name= project.name
              td.id
                a(href=project.homepage, target="_blank")= project.id
              td.description= project.description
              td.homepage
                a(href=project.homepage, target="_blank")= project.homepage
