extends ../layout

block content
  .row
    .col-sm-12.col-md-9
        .project-single
          h1.page-header= project.name
          .row
            .col-sm-12.col-md-12
              div.banner
                img(src="http://placehold.it/800x200?text=banner")
        
          .row
            .col-sm-12.col-md-9
              div.description
                |  #{project.description}
              div.project-status
                strong Project status:
                |  #{project.status}
              div.born-at
                strong Born at:
                |  #{project.bornAt}
              div.geography
                strong Geography:
                |  #{project.geography}
              div.political-entity
                strong Political entity:
                |  #{project.politicalEntity}
              div.types
                strong Types:
                |  #{project.types}
              div.needs
                strong Needs:
                |  #{project.needs}
              div.categories
                strong Categories:
                |  #{project.categories}
              div.homepage
                strong Homepage:
                  a(href="#{project.homepage}")  #{project.homepage}
              div.repository
                strong Repository:
                  a(href="#{project.repository}")  #{project.repository}
            .col-sm-12.col-md-3
              h4 Team
              div.contact
                strong Contact:
                  a(href="mailto:#{project.contact.email}")  #{project.contact.name}
              div.partners
                strong Partners: 
                |  #{project.partners}
              div.data
                strong Data: 
                |  #{project.data}
              div.keywords
                strong keywords:
                |  #{project.keywords}
              div.links
                strong Links:
                |  #{project.links}
          
      .col-sm-12.col-md-3
        .see-also
          h3 See also